//Database Connection String For PostgreSQL PGAdmin4 / Local
DATABASE_URL="Connection String disini"   

//For Google OAuth Or Authentication Secret Key
AUTH_SECRET="bebasUntukNextAuth"
GOOGLE_OAUTH_CLIENT_ID="Di Google Cloud Console"
GOOGLE_OAUTH_CLIENT_SECRET="Di Google Cloud Console"

//For Cloudflare R2 (S3 Object Storage)
R2_ACCESS_KEY_ID = ''
R2_SECRET_ACCESS_KEY=''
R2_ACCOUNT_ID=''
R2_BUCKET_NAME=''
R2_PUBLIC_URL=''
