//Database Connection String For PostgreSQL PGAdmin4 / Local
DATABASE_URL="Connection String disini"   

//For Google OAuth Or Authentication Secret Key
AUTH_SECRET="bebasUntukNextAuth"
GOOGLE_OAUTH_CLIENT_ID="Di Google Cloud Console"
GOOGLE_OAUTH_CLIENT_SECRET="Di Google Cloud Console"

//For Supabase S3 Object Storage
SUPABASE_ACCESS_KEY_ID =''
SUPABASE_SECRET_ACCESS_KEY=''
SUPABASE_S3_REGION=''
SUPABASE_S3_ENDPOINT=''
NEXT_PUBLIC_S3_IMAGE_URL=''
SUPABASE_S3_BUCKET_NAME=''

