//Database Connection String For PostgreSQL PGAdmin4 / Local
DATABASE_URL="Connection String disini"   

//For Google OAuth Or Authentication Secret Key
AUTH_SECRET="bebasUntukNextAuth"
GOOGLE_OAUTH_CLIENT_ID="Di Google Cloud Console"
GOOGLE_OAUTH_CLIENT_SECRET="Di Google Cloud Console"